

.note-label {
    font-size: 3px;
    cursor: default;
    user-select: none;
}


  .chord-circle-container svg {
    overflow: visible; /* Ensure nothing is clipped */
    display: block; /* Remove inline display */
    margin: auto; /* Center the SVG if it has a smaller size than its container */
  }

  .crosshair-cursor {
    cursor: crosshair;
}

.note-background {
    stroke: black;
    stroke-width: 0.2;
}

.rainbow-stroke {
    stroke: url(#rainbowGradient);
  }

.default-stroke{
    stroke: black;
}



