@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  font-style: light;
  filter: contrast(110%);
}

.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  height: 60px;
  width: 100%;
}

.sidebar{
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  overflow-y: auto;
  width: 25%;
}

.main-content {
  background: white;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  height: calc(100vh - 60px);
  width: 75%;
  position: relative;
}

.chord-name{
  position: absolute;
  font-size: small;
  font-family: 'Lato', sans-serif;
  font-weight:300;
  font-style: light;

}

.record-button{
  position: absolute;
  
  bottom: 50px;
  /* left: 10px; */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #E64C4C;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  border-width: 1px;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1);

}

.record-button:hover {
  /* Styles for hover state */
  background-color: #c00;
}

