@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight:300;
  font-style: light;
  filter: contrast(110%);
}

select{
  background-color: #1F2937;
}
input{
  background-color: #1F2937;
}
label{
  margin-left: 10px;
}
h5{
  font-style: italic;
}

.bottom-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 25%;
  right: 0;
}

.record-button, .play-button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 20px;
  font-size: 24px; /* This should be adjusted if the icon still looks squished */
  cursor: pointer;
  background-color: #E64C4C; /* Adjust the color for play button if needed */
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 10px; /* Adjust spacing around the buttons */
}

.wavesurfer {
  display: flex;
  max-width: 200px;
  height: 150px;
  width: 100%;
  flex-direction: row; /* Align children in a row */
  align-items: center;
  gap: 10px;
}
.waveform-container {
  flex-grow: 1; /* Allow the waveform to take up the remaining space */
  height: 150px;
  background-color: #f3f3f3;
}

.drawing-controls{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 80px;
  left: 10px;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.pencil-cursor {
  cursor: crosshair; /* Or 'copy', 'alias', etc., based on your preference */
}

/* @media screen and (max-width: 800px){
  .sidebar{
    display: none;
  }

  .drawing-controls{
    display: none;
  }
} */

